extends layout

block head
    script(type='text/javascript', src='js/jquery.prettyPhoto.js')
    script(type='text/javascript', src='js/jquery.quicksand.js')
    script(type='text/javascript', src='js/jquery.easing.1.3.js')
    script(type='text/javascript', src='js/script.js')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
block content
    #header-bg
    #sub-header-bg
    // / Header Background
    // Main Container
    #body-wrapper
      // Header
      #header
        a#logo(href='/')
        // Navigation
        #search-container
          form#search(method='post')
            input.search(type='text', onfocus="if(this.value == 'Search Template') { this.value = ''; }", onblur="if(this.value == '') { this.value = 'Search Template'; }", value='Search Template')             
            button(type='submit') Submit        
        ul#navigation
          li
            a(href='/') Home            
          li.current
            a(href='/templates') Templates           
          li
            a(href='/contact') Contact
        // /Navigation
      // /Header
      // Content
      #content.container.clearfix
        // Back to top
        p#back-top(style='display: block;')
          a(href='#top')
            span
        // /Back to top
        ul.filter.group
          li.current.all
            a(href='#') All Projects                
          li.simple
            a(href='#') Simple
          li.commerce
            a(href='#') Commerce
          li.branding
            a(href='#') Branding
          li.marketing
            a(href='#') Marketing
        // Projects 4 columns
        #projects4
          each templateItem in items
            ul.template.group
              li.item(data-id=templateItem.dataId, data-type=templateItem.dataType)
                .view.overlay
                  img(src=templateItem.image)
                  a(href=templateItem.link)
                    .mask
                      h3=templateItem.title                         
                      p=templateItem.description
                        br
                      p=templateItem.tags
                        br
                        br
                      .star-rating
                        .star-rating__wrap
                            input#star-rating-5.star-rating__input(type='radio', name='rating', value='5')
                            label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-5', title='5 out of 5 stars')
                            input#star-rating-4.star-rating__input(type='radio', name='rating', value='4')
                            label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-4', title='4 out of 5 stars')
                            input#star-rating-3.star-rating__input(type='radio', name='rating', value='3')
                            label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-3', title='3 out of 5 stars')
                            input#star-rating-2.star-rating__input(type='radio', name='rating', value='2')
                            label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-2', title='2 out of 5 stars')
                            input#star-rating-1.star-rating__input(type='radio', name='rating', value='1')
                            label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-1', title='1 out of 5 stars')
