each templateItem in items
            ul.template.group
              li.item(data-id=templateItem.dataId, data-type=templateItem.dataType)
                .view.overlay
                  img(src=templateItem.image)
                  a(href=templateItem.link)
                    .mask
                      h3=templateItem.title                         
                      p=templateItem.description
                        br
                      p=templateItem.tags
                        br
                        br
